@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

header {
  border-bottom: 1px solid lightgrey;
}

.title {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 35px;
}
.icon {
  color: #5c48d3;
}
h1 {
  font-size: 48px;
}

main {
  font-family: "Montserrat", sans-serif;
}

.button {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px auto;
}

.button input {
  font-family: "Montserrat", sans-serif;
  background-color: #5c48d3;
  font-size: 32px;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
}

.divCounters {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}
.counters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin: 40px auto;
}

.couterState {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  background-color: #5c48d3;
  color: white;
  border-radius: 5px;
}

.resetAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetButton {
  font-family: "Montserrat", sans-serif;
  background-color: #5c48d3;
  font-size: 20px;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
}
